annotated-types
anyio
beautifulsoup4
bs4
cachetools
certifi
charset-normalizer
customtkinter
darkdetect
docstring_parser
dotenv
esprima
et_xmlfile
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httpx
idna
numpy
openpyxl
packaging
pandas
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
requests
rsa
shapely
six
sniffio
soupsieve
tenacity
typing-inspection
typing_extensions
tzdata
urllib3
vertexai
websockets